.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-wrapper {
    width: calc(33.333% - 2em);
    display: inline-block;
}

.player-content {
    background-color: white;
    padding: 2%;
    height: calc(100% - 6%);
}

.player-content h2 {
    margin-top: 0;
}

.player-red{
    border: 1em solid darkred;
}

.player-blue {
    border: 1em solid darkblue;
}

.player-yellow{
    border: 1em solid gold;
}

.player-pink{
    border: 1em solid violet;
}

.player-green{
    border: 1em solid darkolivegreen;
}

.player-grey {
    border: 1em solid grey;
}

.location-container {
    text-align: left;
}

.landscape-container {
    text-align: left;
}